In [1]:
import pandas as pd
import pickle

In [2]:
miles = 0.000189394
miles

0.000189394

In [3]:
may_trip = pd.read_csv('../data/may_trip.csv')

In [4]:
may_trip

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.157970,-86.778960,36.160540,-86.776890,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.154700,-86.781800,36.156500,-86.786800,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.149400,-86.779500,36.153100,-86.779600,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.000000,351.04988,2019-05-01 00:00:00,00:04:27.796666,2019-05-01 00:00:00,00:06:23.150000,36.177800,-86.786600,36.177400,-86.787600,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224964,2019-06-01 23:50:42.373000,Lime,LIM5241,PoweredJ6OI7QJIK4NO2,62.316667,0.00000,2019-05-31 00:00:00,23:16:25,2019-06-01 00:00:00,00:18:44,36.131741,-86.779007,36.155466,-86.779859,"[[36.1317,-86.77903]]",2019-06-02 08:04:56.923000
224965,2019-06-01 23:50:42.397000,Lime,LIM5285,PoweredQDVYGLDL6ZQDU,22.383333,9337.15680,2019-05-31 00:00:00,23:59:45,2019-06-01 00:00:00,00:22:08,36.126207,-86.789366,36.149205,-86.786162,"[[36.12621,-86.78937],[36.125840000000004,-86....",2019-06-02 08:04:58.683000
224966,2019-06-01 23:50:42.480000,Lime,LIM5413,PoweredH5HCTZB5WVABT,40.200000,20951.18880,2019-05-31 00:00:00,23:31:19,2019-06-01 00:00:00,00:11:31,36.126730,-86.778251,36.143138,-86.793144,"[[36.12673,-86.77825],[36.12664,-86.77731],[36...",2019-06-02 08:05:02.987000
224967,2019-06-01 23:50:42.480000,Lime,LIM5412,PoweredFXC5KHVLI3T7C,41.033333,21049.61280,2019-05-31 00:00:00,23:30:26,2019-06-01 00:00:00,00:11:28,36.126730,-86.778195,36.143140,-86.793125,"[[36.12673,-86.77819],[36.126740000000005,-86....",2019-06-02 08:05:02.957000
224968,2019-06-13 05:17:41.630000,SPIN,SPI146,Powered5750098,36206.000000,21551.83796,2019-05-19 00:00:00,01:49:22,2019-06-13 00:00:00,05:14:40,36.148668,-86.813511,36.147776,-86.740437,"[[36.147775779365219,-86.740436729892863],[36....",2019-06-14 09:36:56.957000

In [5]:
# View Mean tripDistance
distance_feet = may_trip['tripDistance'].mean()
may_mean_distance_miles = distance_feet*miles
print('The average trip was ' + str(may_mean_distance_miles) + ' Miles')

The average trip was 0.770553031786303 Miles

In [6]:
june_trip = pd.read_csv('../data/june_trip.csv')
june_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205627 entries, 0 to 205626
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    205627 non-null  object
 1   companyName     205627 non-null  object
 2   tripRecordNum   205627 non-null  object
 3   sumdID          205627 non-null  object
 4   tripDuration    205627 non-null  float64
 5   tripDistance    205627 non-null  float64
 6   startDate       205627 non-null  object
 7   startTime       205627 non-null  object
 8   endDate         205627 non-null  object
 9   endTime         205627 non-null  object
 10  startLatitude   205627 non-null  float64
 11  startLongitude  205627 non-null  float64
 12  endLatitude     205627 non-null  float64
 13  endLongitude    205627 non-null  float64
 14  tripRoute       205627 non-null  object
 15  create_dt       205627 non-null  object
dtypes: float64(6), object(10)
memory usage: 25.1+ MB

In [7]:
may_trip['trip_cost'] = ((may_trip['tripDuration']*0.15)+1)
may_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224969 entries, 0 to 224968
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    224969 non-null  object
 1   companyName     224969 non-null  object
 2   tripRecordNum   224969 non-null  object
 3   sumdID          224969 non-null  object
 4   tripDuration    224969 non-null  float64
 5   tripDistance    224969 non-null  float64
 6   startDate       224969 non-null  object
 7   startTime       224969 non-null  object
 8   endDate         224969 non-null  object
 9   endTime         224969 non-null  object
 10  startLatitude   224969 non-null  float64
 11  startLongitude  224969 non-null  float64
 12  endLatitude     224969 non-null  float64
 13  endLongitude    224969 non-null  float64
 14  tripRoute       224969 non-null  object
 15  create_dt       224969 non-null  object
 16  trip_cost       224969 non-null  float64
dtypes: float64(7), object(10)
memory usage: 29.2+ MB

In [8]:
# View Mean tripDistance
distance_feet = june_trip['tripDistance'].mean()
june_mean_distance_miles = distance_feet*miles
print('The average trip was ' + str(june_mean_distance_miles) + ' Miles')

The average trip was 0.9950919778777877 Miles

In [9]:
july_trip = pd.read_csv('../data/july_trip.csv')
july_trip['companyName'].value_counts()

Bird             44235
Lime             38397
Lyft             28899
SPIN             11685
Bolt Mobility     6759
JUMP              4089
Gotcha             862
Name: companyName, dtype: int64

In [10]:
# View Mean tripDistance
distance_feet = july_trip['tripDistance'].mean()
july_mean_distance_miles = distance_feet*miles
print('The average trip was ' + str(july_mean_distance_miles) + ' Miles')

The average trip was 1.0102264366688605 Miles

In [11]:
pickle_may = pd.read_pickle('../data/may.pkl')
pickle_may

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,35.0,0
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,90.0,0
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,88.0,0
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,98.0,0
...,...,...,...,...,...,...
20283577,2019-05-31 23:59:42.000,36.163900,-86.782300,Poweredbb60ef04-c719-597f-805f-20978964fd8c,49.0,5
20283578,2019-05-31 23:59:42.000,36.160600,-86.776800,Powered9f5743ed-7f81-539b-9e37-6503d54445d3,68.0,5
20283579,2019-05-31 23:59:42.000,36.160600,-86.776900,Powered5744d1db-3bbe-55e5-9a23-a93828ba54fc,53.0,5
20283580,2019-05-31 23:59:42.000,36.162400,-86.774500,Poweredad1d6d3b-162a-5bec-bffd-cac4ac8dee1c,42.0,5
20283581,2019-05-31 23:59:42.000,36.151900,-86.798500,Powered8505008e-97c9-5003-8975-2ea6b2634fa0,76.0,5

In [12]:
pickle_june = pd.read_pickle('../data/june.pkl')
pickle_june

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-06-01 00:00:12.000,36.120200,-86.753400,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,90.0,5
1,2019-06-01 00:00:12.000,36.163000,-86.776500,Powered17715097-e8a0-5494-a5ab-9b625796607d,63.0,5
2,2019-06-01 00:00:12.000,36.120200,-86.753300,Powerede5cb95ae-b091-5a93-86fa-ededd946d0d7,77.0,5
3,2019-06-01 00:00:12.000,36.120100,-86.753000,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,0.0,5
4,2019-06-01 00:00:12.000,36.162200,-86.780600,Poweredfa549dd6-40bb-5757-ac87-2c2528f2bc68,2.0,5
...,...,...,...,...,...,...
28037403,2019-06-30 23:59:55.273,36.125567,-86.776982,PoweredZYNSVOII2QSLD,100.0,3
28037404,2019-06-30 23:59:55.273,36.121717,-86.775207,PoweredXOPAIWGL7SF62,93.0,3
28037405,2019-06-30 23:59:55.273,36.127046,-86.777262,PoweredBYKFOWELGPKH6,61.0,3
28037406,2019-06-30 23:59:55.273,36.123775,-86.790115,PoweredIAAQ7WODYXON7,35.0,3
28037407,2019-06-30 23:59:55.273,36.121735,-86.775148,Powered3HJPPUNVYGL45,96.0,3

In [13]:
pickle_july = pd.read_pickle('../data/july.pkl')
pickle_july

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-07-01 00:00:33.550,36.156678,-86.809004,Powered635135,22.00,1
1,2019-07-01 00:00:34.973,36.145674,-86.794138,Powered790946,33.00,1
2,2019-07-01 00:00:41.183,36.179319,-86.751538,Powered570380,76.00,1
3,2019-07-01 00:00:41.620,36.152111,-86.803821,Powered240631,43.00,1
4,2019-07-01 00:00:45.087,36.149355,-86.797550,Powered970404,52.00,1
...,...,...,...,...,...,...
25075440,2019-07-31 23:59:57.000,36.162420,-86.779314,Powered-1a8321d0-5c21-04a4-bd7d-7b96ba51f17b,100.00,6
25075441,2019-07-31 23:59:57.000,36.146010,-86.810197,Powered-bd4ba83b-513f-ed5c-3c51-b4f51e7fdc51,100.00,6
25075442,2019-07-31 23:59:57.000,36.165837,-86.777765,Powered-cc9c0b7e-2b9e-def9-e48b-1a8a489c4daf,71.68,6
25075443,2019-07-31 23:59:57.000,36.149792,-86.806818,Powered-55a7ac02-7e17-bb3b-130d-b160d9776405,0.00,6
25075444,2019-07-31 23:59:57.000,36.162644,-86.779345,Powered-03be23ca-d43b-222f-be54-e44b5b4690df,100.00,6

In [14]:
july_scoot_count = july_trip.sumdID.value_counts()
july_scoot_count.head(25)

PoweredUNKNOWN          327
Powered5N5J5BJDODHYX    141
PoweredOEHCPCAUHESR5    134
PoweredIHGSNSRXCZ2ZG    128
Powered5BW4GPYGBMUTL    126
Powered7FV7FFP2MV66S    125
Powered25WTY4ODS5QZ7    123
PoweredMKPBZS2PEITKN    123
PoweredPAVHVTUPMTOOG    121
PoweredMWA2NEKTFGT6H    121
PoweredFE7MM22M6BBJV    119
PoweredLAXX65AIGQ27Q    119
PoweredTBGIRQ5IOW2KR    119
PoweredVW4PNNV3UKVWX    118
PoweredTN6NH2B55D7TI    117
PoweredC373KUYMR64SA    116
PoweredTUYG2UYJLVFQE    116
PoweredSMG5U52YHYNGL    116
PoweredVMGURJPXEXEOF    115
PoweredHNVQAAX6ZNBXF    115
PoweredMZ3NJXWE55W7L    114
PoweredIJN2BOH72FXRU    113
PoweredME7IR625ZUUBP    112
PoweredLRAXWZSZ5DGEV    110
PoweredCL37MXJKM7RS5    110
Name: sumdID, dtype: int64

In [15]:
avg_charge = pickle_may.chargelevel.mean()
avg_charge

65.90530320388218

In [16]:
pickle_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20283582 entries, 0 to 20283581
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 928.5+ MB

<h1>CSV To Geojson (In Geospatial)</h1>

In [17]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
%matplotlib inline

In [18]:
may_trip = pd.read_csv('../data/may_trip.csv')

In [19]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')

In [20]:
may_trip['geometry'] = may_trip.apply(lambda x: Point((float(x.startLongitude),
                                                    float(x.startLatitude))),
                                   axis=1)
may_trip.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,geometry
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000,POINT (-86.8036 36.1571)
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000,POINT (-86.77896 36.15797)
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000,POINT (-86.7818 36.1547)
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000,POINT (-86.7795 36.1494)
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01 00:00:00,00:04:27.796666,2019-05-01 00:00:00,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000,POINT (-86.78660000000001 36.1778)

In [21]:
zipcodes.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [22]:
may_trip_geo = gpd.GeoDataFrame(may_trip,
                               crs = zipcodes.crs,
                               geometry = may_trip['geometry'])

In [23]:
type(may_trip_geo)

geopandas.geodataframe.GeoDataFrame

In [24]:
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]

In [25]:
may_trip_byzip = gpd.sjoin(may_trip_geo, zipcodes, op = 'within')

In [26]:
may_trip_byzip

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt,geometry,index_right,zip,po_name
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.000000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.157100,-86.803600,36.156600,-86.806700,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000,POINT (-86.80360 36.15710),35,37203,NASHVILLE
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.715600,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.157970,-86.778960,36.160540,-86.776890,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000,POINT (-86.77896 36.15797),35,37203,NASHVILLE
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.000000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.154700,-86.781800,36.156500,-86.786800,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000,POINT (-86.78180 36.15470),35,37203,NASHVILLE
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.000000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.149400,-86.779500,36.153100,-86.779600,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000,POINT (-86.77950 36.14940),35,37203,NASHVILLE
5,2019-05-01 00:05:55.570000,Bird,BRD2167,PoweredEJF1K,3.000000,984.25200,2019-05-01 00:00:00,00:03:56.546666,2019-05-01 00:00:00,00:06:45.786666,36.154400,-86.786200,36.151500,-86.784400,"[[36.154368,-86.785909],[36.151689,-86.784331]...",2019-05-02 05:30:24.317000,POINT (-86.78620 36.15440),35,37203,NASHVILLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202348,2019-05-28 01:49:50.270000,Lime,LIM461,PoweredB2NAS4AKHW5DQ,12.833333,8389.00560,2019-05-28 00:00:00,01:35:38,2019-05-28 00:00:00,01:48:28,36.083237,-86.867052,36.083328,-86.866967,"[[36.08324,-86.86705],[36.083290000000005,-86....",2019-05-29 07:31:04.190000,POINT (-86.86705 36.08324),7,37221,NASHVILLE
202349,2019-05-28 01:49:50.270000,Lime,LIM460,PoweredHDHHBVOS4YXTG,12.800000,8841.75600,2019-05-28 00:00:00,01:35:30,2019-05-28 00:00:00,01:48:18,36.082994,-86.867284,36.083244,-86.866939,"[[36.08299,-86.86728],[36.083200000000005,-86....",2019-05-29 07:31:04.157000,POINT (-86.86728 36.08299),7,37221,NASHVILLE
205912,2019-05-28 20:50:01.057000,Lime,LIM1983,Powered3IA7BYM7HIZYZ,5.733333,4891.67280,2019-05-28 00:00:00,20:14:45,2019-05-28 00:00:00,20:20:29,36.090926,-86.918005,36.091269,-86.917758,"[[36.09093,-86.91801],[36.09123,-86.9178999999...",2019-05-29 07:44:43.710000,POINT (-86.91800 36.09093),7,37221,NASHVILLE
205917,2019-05-28 20:50:01.060000,Lime,LIM1987,Powered4EJEZQ3KHHGUT,6.150000,4737.47520,2019-05-28 00:00:00,20:15:22,2019-05-28 00:00:00,20:21:31,36.091248,-86.917859,36.091242,-86.917846,"[[36.09125,-86.91786],[36.091170000000005,-86....",2019-05-29 07:44:43.843000,POINT (-86.91786 36.09125),7,37221,NASHVILLE
211389,2019-05-29 23:50:11.647000,Lime,LIM2081,Powered4EJEZQ3KHHGUT,10.633333,3799.16640,2019-05-29 00:00:00,23:07:18,2019-05-29 00:00:00,23:17:56,36.090732,-86.918008,36.090381,-86.918336,"[[36.09072,-86.91817],[36.090759999999996,-86....",2019-05-30 07:44:19.247000,POINT (-86.91801 36.09073),7,37221,NASHVILLE

<h1>Mapping</h1>

In [28]:
map_nash = folium.Map(location =  area_center, zoom_start = 10)
folium.GeoJson(zipcodes).add_to(map_nash)
map_nash

for row_index, row_values in may_geo_zip.iterrows():
    loc = [row_values['longitude'], row_values['latitude']]
    edgecolor= 'black'
    pop = str(row_values['name'])
    icon=folium.Icon(color='darkblue', icon='tint', prefix = 'fa')
    marker = folium.Marker(
        location = loc,
        popup = pop, icon = icon)
    marker.add_to(map_nash)
    
locations = trips_in_37203[['startLatitude', 'startLongitude']].values.tolist()
map_37207.add_child(
    FastMarkerCluster(locations)
)

location = may_geo_zip[['latitude', 'longitude']].values.tolist()
map_nash.add_child(
        FastMarkerCluster(locations)
    
for row_index, row_values in water_geo.iterrows():
    loc = [row_values['lon'], row_values['lat']]
    edgecolor= 'black'
    pop = str(row_values['name'])
    icon=folium.Icon(color='darkblue', icon='tint', prefix = 'fa')
    marker = folium.Marker(
        location = loc,
        popup = pop, icon = icon)

SyntaxError: invalid syntax (<ipython-input-28-5e65465c87a8>, line 24)